@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body,
#root {
  /* background-color: #123; */
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #123;
}

.myBtnPrimary {
  transition: 0.6s;
  background-color: #033f7a;
  border: 1px solid #033f7a;
}

.myBtnPrimary:hover {
  transition: 0.6s;
  background-color: #05325f;
  border: 1px solid #05325f;
}

.toast {
  color: #fff;
}

.toast-header {
  background-color: #05325f;
  color: #fff;
}

.toast-body {
  background-color: #033f7a;
}

.login {
  text-transform: uppercase;
}

.hover-chat-thumb:hover {
  background-color: rgb(21, 47, 72);
}

.hover-chat-thumb.active {
  background-color: rgb(21, 47, 72);
}

.modal-body {
  padding: 0;
  margin: 0;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  transform: translate(10px, 38px);
}

.btn-hover {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
}

.btn-hover:hover {
  background-color: #05325f;
}
